*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    text-align: center;
    font-family: sans-serif;

}
 
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #000000;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: large;

}

.logo {

    margin-left: 30px;

}
 
.logo a {
    text-decoration: none;
    color: #fffbfb;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;


}

.navbar a:hover {
    background: #e91e63;

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: url(img/Imagen\ de\ WhatsApp\ 2023-09-30\ a\ las\ 08.36.52_c35ea02f.jpg) no-repeat center;
    background-size: cover;

}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;

}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 150px;

}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solido #e91e63;
    color: #fff;
    text-decoration: none;
    background: #e91e63;


}

.btn:hover {
    background: none;  
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sau {
    padding: 50px 0;
    background: #403e3d;

}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}.box-container .box {
    height: 200px;
    width: 320px;
    background: #02151df6;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(rgb(55, 169, 218), rgb(55, 169, 218), rgb(55, 169, 218), rgb(55, 169, 218));
    margin: 10px;

}

.box-container .box i {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #2ebde0;
    font-size: 25px;
    margin: 10px 0;

}

.box-container .box h3 {
    font-size: 20px;
    color: #2ebde0;

}

.box-container .box p {
    padding: 0 20px;
    font-size: 16.5px;
}

.price {
    background: url(img/shutterstock_500913646-CAMPO-TRIGO-VERDE-scaled.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align:  center;

}



.about {
    background: #434141;
    padding: 50 0;
    

}

.box-container2 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-wrap:  wrap;
}

.box-container2 .box {
     width: 250px;
     padding-bottom: 20px;
     text-align: center;
     box-shadow: 0 5px 5px rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(3, 3, 3));
     background: #171717;
     margin: 20px 20px;
}

.box-container2 .box img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -50px;
    border: 6px solid #d1d1d1;
   
}

.box-container2 .box h3 {
    font-size: 20px;
    color: #ffffff;
    padding-top: 10px;

}

.box-container2 .boxp {
    font-size: 10px;
    color: #fff;
    padding: 0;

}

.box-container2 .box .stars i {
    font-size: 15px;
    color: #e91e63;
}

.contact {
    padding: 50px 0;
    background: #171717;

}


.footer-section {

    display: flex;

}

.f-enlaces {
    display: flex;
    flex-direction: column;
    margin: 0 100px;

}

.f-enlaces a {
    columns: #fff;
    text-decoration: none;
    margin-top: 20px;

}

.Telegram {
    display: flex;
    flex-direction: column;
    margin: 0 100px;
}


@media (max-width: 768px) {
    p {
        padding: 0 50px;
        
    }
    .title {
        margin-top: 0px;
        font-size: 40px;
    }
    .sau {
        height: 100vh;
        padding: 50px 0;

    }
    .about {
        height: 100vh;
        padding: 50px 0;

    }
    .footer-section {
        display: flex;
        flex-direction: column;

    }
    .f-enlaces {
        display: none;

    }

    .navbar {
        display: none;

    }
    
}

